#board-container {
  display: flex;
  justify-content: space-around;
  background: #000000;
  background: -webkit-linear-gradient(#000000, #444444);
  background: linear-gradient(#000000, #444444);
  padding-bottom: 20px;
  align-items: center;
}

<div>
        <table id="postmortem">
          <tr>
            <th>Human</th>
            <th>AI</th>
          </tr>
          <tr>
            <td>{timeLeft(Math.floor(this.props.playerClock))}</td>
            <td>1</td>
          </tr>
          <tr>
            <td>{timeLeft(Math.floor(this.props.cpuClock))}</td> 
            <td>0</td>
          </tr>
        </table>
      </div>